# Machine Learning Model (AdaBoost Classification)

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\Dell\\Machine Learning Model'

In [4]:
os.chdir('C:\\Users\\Dell')

In [5]:
os.getcwd()

'C:\\Users\\Dell'

In [6]:
import numpy as np
import pandas as pd

In [7]:
iris=pd.read_csv("Iris.csv")

In [11]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Step 1

In [12]:
X=iris.drop(columns=["species"])

In [13]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [14]:
y=iris["species"]

In [15]:
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

# Rules

In [16]:
X.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [17]:
type(X)

pandas.core.frame.DataFrame

In [18]:
X.shape

(150, 4)

In [19]:
iris.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

# Step 2

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33,random_state=42,stratify=y)

No need of Feature Scaling as features are on same scale.

# Step 3

In [23]:
from sklearn.ensemble import AdaBoostClassifier

In [24]:
boost=AdaBoostClassifier()

In [25]:
boost.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

# Step 4

# Evaluate

In [26]:
boost.score(X_test,y_test)

0.94

# Predict

In [27]:
boost.predict(X_test)

array(['versicolor', 'versicolor', 'setosa', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'virginica', 'setosa', 'virginica',
       'virginica', 'setosa', 'setosa', 'virginica', 'virginica',
       'virginica', 'setosa', 'versicolor', 'setosa', 'setosa',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'setosa', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'versicolor', 'virginica'], dtype=object)